In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

import numpy as np
import matplotlib.pyplot as plt

### 设置路径

In [2]:
path_pre = '../../'
path_original_dataset = path_pre + 'original-dataset/'
path_intermediate_dataset = path_pre + 'intermediate-dataset/'

### 加载 test.csv

In [3]:
test_ol_df = pd.read_csv(path_original_dataset + 'test.csv')
test_ol_df.head()

,instanceID,label,clickTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,1,-1,310000,3745,1164848,3451,1,3
1,2,-1,310000,2284,2127247,1613,1,3
2,3,-1,310000,1456,2769125,5510,2,1
3,4,-1,310000,4565,9762,4113,2,3
4,5,-1,310000,49,2513636,3615,1,3

### 加载 position.csv

In [4]:
position_df = pd.read_csv(path_original_dataset + 'position.csv')
position_df.head()

   positionID  sitesetID  positionType
0        2150          1             0
1        2579          1             0
2        3322          1             0
3        5726          1             0
4        4522          2             0

### 合并表格

In [5]:
test_ol_df = test_ol_df.merge(position_df, on='positionID')
test_ol_df.head()

,instanceID,label,clickTime,creativeID,userID,positionID,connectionType,telecomsOperator,sitesetID,positionType
0,1,-1,310000,3745,1164848,3451,1,3,0,1
1,178,-1,310001,3745,2170066,3451,1,2,0,1
2,284,-1,310001,2284,736708,3451,1,1,0,1
3,3478,-1,310025,6490,1621409,3451,1,0,0,1
4,3810,-1,310027,2572,647667,3451,1,2,0,1

### 调整 columns 顺序

In [6]:
print(test_ol_df.columns.tolist())

['instanceID', 'label', 'clickTime', 'creativeID', 'userID', 'positionID', 'connectionType', 'telecomsOperator', 'sitesetID', 'positionType']

In [7]:
columns = ['instanceID', 'label', 'clickTime', 'creativeID', 'userID', 'positionID',\
           'sitesetID', 'positionType', 'connectionType', 'telecomsOperator']
test_ol_df = test_ol_df[columns]
test_ol_df.head()

,instanceID,label,clickTime,creativeID,userID,positionID,sitesetID,positionType,connectionType,telecomsOperator
0,1,-1,310000,3745,1164848,3451,0,1,1,3
1,178,-1,310001,3745,2170066,3451,0,1,1,2
2,284,-1,310001,2284,736708,3451,0,1,1,1
3,3478,-1,310025,6490,1621409,3451,0,1,1,0
4,3810,-1,310027,2572,647667,3451,0,1,1,2

In [8]:
test_ol_df.tail()

,instanceID,label,clickTime,creativeID,userID,positionID,sitesetID,positionType,connectionType,telecomsOperator
338484,337648,-1,312355,3160,1837415,5587,0,2,1,2
338485,337718,-1,312356,3320,1942251,4862,0,2,1,1
338486,337806,-1,312356,1456,360193,5903,0,1,1,3
338487,338050,-1,312357,5258,2259605,5324,0,1,1,1
338488,338102,-1,312358,1704,2033860,2028,0,2,1,1

### 从 clickTime 中提取 hour 特征

In [9]:
test_ol_df['hour'] = (test_ol_df['clickTime'] / 100 % 100).astype(int)
test_ol_df.head()

,instanceID,label,clickTime,creativeID,userID,positionID,sitesetID,positionType,connectionType,telecomsOperator,hour
0,1,-1,310000,3745,1164848,3451,0,1,1,3,0
1,178,-1,310001,3745,2170066,3451,0,1,1,2,0
2,284,-1,310001,2284,736708,3451,0,1,1,1,0
3,3478,-1,310025,6490,1621409,3451,0,1,1,0,0
4,3810,-1,310027,2572,647667,3451,0,1,1,2,0

### 提取出部分特征

In [10]:
print(test_ol_df.columns.tolist())

['instanceID', 'label', 'clickTime', 'creativeID', 'userID', 'positionID', 'sitesetID', 'positionType', 'connectionType', 'telecomsOperator', 'hour']

In [11]:
selected_feature = ['instanceID',\
                    'label',\
#                     'clickTime',\
                    'creativeID',\
                    'userID',\
#                     'positionID',\
                    'sitesetID',\
                    'positionType',\
                    'connectionType',\
                    'telecomsOperator',\
                    'hour'\
                   ]

In [12]:
test_ol_selected = test_ol_df[selected_feature]
test_ol_selected.head()

,instanceID,label,creativeID,userID,sitesetID,positionType,connectionType,telecomsOperator,hour
0,1,-1,3745,1164848,0,1,1,3,0
1,178,-1,3745,2170066,0,1,1,2,0
2,284,-1,2284,736708,0,1,1,1,0
3,3478,-1,6490,1621409,0,1,1,0,0
4,3810,-1,2572,647667,0,1,1,2,0