In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

import numpy as np
import matplotlib.pyplot as plt

### 设置路径

In [2]:
path_pre = '../../'
path_original_dataset = path_pre + 'original-dataset/'
path_intermediate_dataset = path_pre + 'intermediate-dataset/'

### 加载 train.h5

In [3]:
train_df = pd.read_hdf(path_intermediate_dataset + 'train.h5')
train_df.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
3608772,0,301730,NaN,4565,1,1803,2,1.0
2362282,0,261335,NaN,4121,2,1842,1,2.0
415865,0,181549,NaN,274,4,3322,1,2.0
2139782,0,251726,NaN,3362,5,7434,1,1.0
2301428,0,260931,NaN,1858,5,7434,1,1.0

### 添加 connectionType 和 telecomsOperator的转化率特征

见ad.py

### 添加 connectionType 和 telecomsOperator所映射出的新特征

见ad.py

In [4]:
train_df['userID'].min()

1

In [5]:
train_df['userID'].max()

2805118

In [6]:
type(train_df['userID'].max())

numpy.int64

### 如果用户已经安装某个 app，那么该 'userID-appID' 所对应的样本就应该舍弃

In [7]:
ad_df = pd.read_hdf(path_intermediate_dataset + 'ad.h5')
ad_df.head()

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1

In [8]:
ad_df['appID'].min()

14

In [9]:
ad_df['appID'].max()

472

In [11]:
train_df = train_df.merge(ad_df[['creativeID', 'appID']], how='left', on='creativeID')
train_df.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,appID
0,0,301730,NaN,4565,1,1803,2,1.0,465
1,0,261335,NaN,4121,2,1842,1,2.0,205
2,0,181549,NaN,274,4,3322,1,2.0,83
3,0,251726,NaN,3362,5,7434,1,1.0,434
4,0,260931,NaN,1858,5,7434,1,1.0,434

In [31]:
def PerfectlyHashThem(arr1, arr2):
    flag = arr1 >= arr2
    res = flag * (arr1 * arr1 + arr1 + arr2) + (~flag) * (arr1 + arr2 * arr2)
    return res

In [29]:
arr1 = np.array([9, 7, 5, 3, 1])
arr2 = np.array([2, 4, 6, 8, 10])

In [32]:
PerfectlyHashThem(arr1, arr2)

array([ 92,  60,  41,  67, 101])

In [33]:
train_df['userID-appID'] = PerfectlyHashThem(train_df['userID'].values, train_df['appID'].values)

In [34]:
train_df.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,appID,userID-appID
0,0,301730,NaN,4565,1,1803,2,1.0,465,216226
1,0,261335,NaN,4121,2,1842,1,2.0,205,42027
2,0,181549,NaN,274,4,3322,1,2.0,83,6893
3,0,251726,NaN,3362,5,7434,1,1.0,434,188361
4,0,260931,NaN,1858,5,7434,1,1.0,434,188361

In [35]:
train_df.tail()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,appID,userID-appID
3749523,0,212234,NaN,5147,2805113,1842,1,2.0,146,7868661748028
3749524,0,241746,NaN,4565,2805114,2831,1,3.0,465,7868667358575
3749525,0,291539,NaN,2235,2805115,977,1,3.0,465,7868672968805
3749526,0,212016,NaN,464,2805116,7619,2,3.0,116,7868678578688
3749527,0,301602,NaN,4565,2805118,2534,1,NaN,465,7868689799507

In [6]:
train_df['userID-appID'] = train_df['userID'].astype(str) + '-' + train_df['appID'].astype(str)
train_df.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,appID,userID-appID
0,0,170000,NaN,3089,2798058,293,1,1,434,2798058-434
1,0,170000,NaN,1259,463234,6161,1,2,14,463234-14
2,0,170000,NaN,4465,1857485,7434,4,1,465,1857485-465
3,0,170000,NaN,1004,2038823,977,1,1,465,2038823-465
4,0,170000,NaN,1887,2015141,3688,1,1,360,2015141-360

### 加载 userID_appID

In [7]:
userID_appID = pd.read_hdf(path_intermediate_dataset + 'userID_appID.h5')
userID_appID.head()

1       1-360
85     10-383
429    20-356
619    24-391
682    25-360
dtype: object

In [8]:
userID_appID.index.size

361414

In [9]:
indexer = train_df['userID-appID'].isin(userID_appID)

In [13]:
indexer.loc[indexer == True].index.size

21865

看来有 21865 个样本可以舍弃掉

In [14]:
train_df = train_df.loc[~indexer]
train_df.index.size

3727663

In [15]:
del train_df['userID-appID']

In [16]:
import gc

In [17]:
gc.collect()

161

### 加载 pos.h5

In [4]:
pos_df = pd.read_hdf(path_intermediate_dataset + 'pos.h5')
pos_df.head()

   positionID  sitesetID  positionType
0        2150          1             0
1        2579          1             0
2        3322          1             0
3        5726          1             0
4        4522          2             0

### 合并表格

In [5]:
train_df = train_df.merge(pos_df, on='positionID', how='left')
train_df.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator,sitesetID,positionType
0,0,301730,NaN,4565,1,1803,2,1.0,0,1
1,0,261335,NaN,4121,2,1842,1,2.0,1,0
2,0,181549,NaN,274,4,3322,1,2.0,1,0
3,0,251726,NaN,3362,5,7434,1,1.0,0,1
4,0,260931,NaN,1858,5,7434,1,1.0,0,1

### 调整 columns 顺序

In [8]:
columns = ['label', 'clickTime', 'conversionTime', 'creativeID', 'userID', 'positionID',\
           'sitesetID', 'positionType', 'connectionType', 'telecomsOperator']
train_df = train_df[columns]
train_df.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,sitesetID,positionType,connectionType,telecomsOperator
0,0,170000,NaN,3089,2798058,293,0,3,1,1
1,0,170000,NaN,1259,463234,6161,0,1,1,2
2,0,170000,NaN,4465,1857485,7434,0,1,4,1
3,0,170000,NaN,1004,2038823,977,0,1,1,1
4,0,170000,NaN,1887,2015141,3688,0,1,1,1

In [9]:
train_df.tail()

,label,clickTime,conversionTime,creativeID,userID,positionID,sitesetID,positionType,connectionType,telecomsOperator
3749523,0,302359,NaN,5030,837304,2150,1,0,1,1
3749524,0,302359,NaN,4469,1037576,1456,0,1,1,3
3749525,0,302359,NaN,3869,1163462,6315,0,1,1,1
3749526,0,302359,NaN,3586,89477,7149,0,1,1,1
3749527,0,302359,NaN,6311,93736,1463,0,1,1,1

### 舍弃后5天的负样本

In [10]:
train_df = train_df.loc[(train_df['clickTime'] < 260000) | (train_df['label'] != 0)]

In [11]:
distribution_label = train_df['label'].value_counts().sort_index()
distribution_label

0    2183425
1      93262
Name: label, dtype: int64

In [12]:
print('正负样本比例：', 1, ':', int(distribution_label.loc[0] / distribution_label.loc[1]))

正负样本比例： 1 : 23

### 从 clickTime 中提取 hour 特征

In [13]:
train_df['hour'] = (train_df['clickTime'] / 100 % 100).astype(int)
train_df.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,sitesetID,positionType,connectionType,telecomsOperator,hour
0,0,170000,NaN,3089,2798058,293,0,3,1,1,0
1,0,170000,NaN,1259,463234,6161,0,1,1,2,0
2,0,170000,NaN,4465,1857485,7434,0,1,4,1,0
3,0,170000,NaN,1004,2038823,977,0,1,1,1,0
4,0,170000,NaN,1887,2015141,3688,0,1,1,1,0

### 加载 action.h5

In [14]:
action_df = pd.read_hdf(path_intermediate_dataset + 'action.h5')
action_df.head()

   userID  installTime  appID
0       1       182032    933
1       5       141354    589
2       5       251727    565
3       5       260932    596
4       5       261318    536

### 提取每小时的行为数据

In [15]:
installTime_hour = (action_df['installTime'] / 100 % 100).astype(int)

In [16]:
distribution_installTime_hour = installTime_hour.value_counts()
distribution_installTime_hour

19    412688
18    402300
21    379047
20    378703
17    362186
22    343244
12    330975
16    328180
13    312741
15    306851
14    293247
11    290550
10    272194
23    263197
9     243484
0     225349
8     197720
7     143589
1     142879
2     103239
6      88673
3      72147
4      55650
5      54638
Name: installTime, dtype: int64

以此作为 `clickTime` 的权值特征

In [17]:
distribution_installTime_hour_df = DataFrame(distribution_installTime_hour).reset_index()
distribution_installTime_hour_df.rename(columns={'index': 'hour', 'installTime': 'clickTime_weight'}, inplace=True)
distribution_installTime_hour_df.head()

   hour  clickTime_weight
0    19            412688
1    18            402300
2    21            379047
3    20            378703
4    17            362186

### 构造 `clickTime` 的权值特征

In [18]:
train_df = train_df.merge(distribution_installTime_hour_df, on='hour', how='left')
train_df.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,sitesetID,positionType,connectionType,telecomsOperator,hour,clickTime_weight
0,0,170000,NaN,3089,2798058,293,0,3,1,1,0,225349
1,0,170000,NaN,1259,463234,6161,0,1,1,2,0,225349
2,0,170000,NaN,4465,1857485,7434,0,1,4,1,0,225349
3,0,170000,NaN,1004,2038823,977,0,1,1,1,0,225349
4,0,170000,NaN,1887,2015141,3688,0,1,1,1,0,225349

### 提取出部分特征

In [19]:
print(train_df.columns.tolist())

['label', 'clickTime', 'conversionTime', 'creativeID', 'userID', 'positionID', 'sitesetID', 'positionType', 'connectionType', 'telecomsOperator', 'hour', 'clickTime_weight']

In [20]:
selected_feature = [\
                    'label',\
#                     'clickTime',\
#                     'conversionTime',\
                    'creativeID',\
                    'userID',\
#                     'positionID',\
                    'sitesetID',\
                    'positionType',\
                    'connectionType',\
                    'telecomsOperator',\
                    'hour',\
                    'clickTime_weight'
                   ]

In [21]:
train_selected = train_df[selected_feature]
train_selected.head()

,label,creativeID,userID,sitesetID,positionType,connectionType,telecomsOperator,hour,clickTime_weight
0,0,3089,2798058,0,3,1,1,0,225349
1,0,1259,463234,0,1,1,2,0,225349
2,0,4465,1857485,0,1,4,1,0,225349
3,0,1004,2038823,0,1,1,1,0,225349
4,0,1887,2015141,0,1,1,1,0,225349