In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

import numpy as np
import matplotlib.pyplot as plt

### 设置路径

In [2]:
path_pre = '../../'
path_original_dataset = path_pre + 'original-dataset/'
path_intermediate_dataset = path_pre + 'intermediate-dataset/'

### 加载数据

In [3]:
train_df = pd.read_hdf(path_intermediate_dataset + 'train.h5')
train_df.head()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
3608772,0,301730,NaN,4565,1,1803,2,1.0
2362282,0,261335,NaN,4121,2,1842,1,2.0
415865,0,181549,NaN,274,4,3322,1,2.0
2139782,0,251726,NaN,3362,5,7434,1,1.0
2301428,0,260931,NaN,1858,5,7434,1,1.0

### 提取 connectionType 的转化率特征

In [4]:
distribution_connectionType = train_df['connectionType'].value_counts(dropna=False)
distribution_connectionType.sort_index(inplace=True)
distribution_connectionType

0      54586
1    3002059
2     539904
3     109648
4      43331
Name: connectionType, dtype: int64

In [5]:
distribution_connectionType_positive = train_df.loc[train_df['label'] == 1, 'connectionType'].value_counts(dropna=False)
distribution_connectionType_positive.sort_index(inplace=True)
distribution_connectionType_positive

0      209
1    87556
2     4443
3      773
4      281
Name: connectionType, dtype: int64

In [6]:
distribution_connectionType_ratio = distribution_connectionType_positive / distribution_connectionType
distribution_connectionType_ratio

0    0.003829
1    0.029165
2    0.008229
3    0.007050
4    0.006485
Name: connectionType, dtype: float64

In [7]:
# 归一化
mx = distribution_connectionType_ratio.max()
mn = distribution_connectionType_ratio.min()
distribution_connectionType_ratio = (distribution_connectionType_ratio - mn) / (mx - mn)
distribution_connectionType_ratio

0    0.000000
1    1.000000
2    0.173679
3    0.127129
4    0.104835
Name: connectionType, dtype: float64

### 存储

In [8]:
distribution_connectionType_ratio = DataFrame(distribution_connectionType_ratio)
distribution_connectionType_ratio.head()

   connectionType
0        0.000000
1        1.000000
2        0.173679
3        0.127129
4        0.104835

In [9]:
distribution_connectionType_ratio.reset_index(inplace=True)
distribution_connectionType_ratio.columns = ['connectionType', 'conversion_ratio_connectionType']
distribution_connectionType_ratio.head()

   connectionType  conversion_ratio_connectionType
0               0                         0.000000
1               1                         1.000000
2               2                         0.173679
3               3                         0.127129
4               4                         0.104835