In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

import numpy as np
import matplotlib.pyplot as plt

### 设置路径

In [2]:
path_pre = '../../'
path_original_dataset = path_pre + 'original-dataset/'
path_intermediate_dataset = path_pre + 'intermediate-dataset/'

### 加载 user_preference_cat

In [3]:
user_preference_cat = pd.read_hdf(path_intermediate_dataset + 'user_preference_cat.h5')
user_preference_cat.head()

   userID  appCategory  count
0       1            0     37
1       1          103      1
2       1          108      2
3       1          201      9
4       1          203      5

In [4]:
grouped = user_preference_cat.loc[user_preference_cat['appCategory'] != 0, ['userID', 'count']].groupby('userID')

In [5]:
grouped_idxmax = grouped.idxmax()
grouped_idxmax.head()

        count
userID
1           3
9          13
10         29
12         33
14         49

In [6]:
user_preference_cat_new = user_preference_cat.loc[grouped_idxmax['count'], ['userID', 'appCategory']]
user_preference_cat_new.head()

   userID  appCategory  count
0       1            0     37
1       1          103      1
2       1          108      2
3       1          201      9
4       1          203      5

In [7]:
user_preference_cat_new.tail()

           userID  appCategory
16605392  2805104          503
16605402  2805105          503
16605406  2805107          301
16605424  2805111          503
16605427  2805117          201

In [8]:
user_preference_cat_new.to_hdf(path_intermediate_dataset + 'user_preference_cat_new.h5', 'user_preference_cat_new', mode='w')