In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

import numpy as np
import matplotlib.pyplot as plt

### 设置路径

In [2]:
path_pre = '../../'
path_original_dataset = path_pre + 'original-dataset/'

### 加载数据

In [3]:
position_df = pd.read_csv(path_original_dataset + 'position.csv')

In [4]:
position_df.head()

   positionID  sitesetID  positionType
0        2150          1             0
1        2579          1             0
2        3322          1             0
3        5726          1             0
4        4522          2             0

#### positionID

In [5]:
# 判断 positionID 是否唯一
distribution_position = position_df['positionID'].value_counts()
distribution_position.loc[distribution_position != 1]

Series([], Name: positionID, dtype: int64)

In [8]:
distribution_position.index.size

7645

#### sitesetID

In [6]:
position_df['sitesetID'].value_counts()

0    7556
1      87
2       2
Name: sitesetID, dtype: int64

#### positionType

In [7]:
position_df['positionType'].value_counts().sort_index()

0      92
1    2437
2    3611
3    1035
4     428
5      42
Name: positionType, dtype: int64