In [1]:
import pandas as pd
from pandas import DataFrame
from pandas import Series

import numpy as np
import matplotlib.pyplot as plt

### 设置路径

In [2]:
path_pre = '../../'
path_original_dataset = path_pre + 'original-dataset/'

### 加载 ad.csv 和 app_categories.csv

In [3]:
ad_df = pd.read_csv(path_original_dataset + 'ad.csv')
ad_df.head()

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform
0        4079  2318         147            80     14            2
1        4565  3593         632             3    465            1
2        3170  1593         205            54    389            1
3        6566  2390         205            54    389            1
4        5187   411         564             3    465            1

In [4]:
app_categories_df = pd.read_csv(path_original_dataset + 'app_categories.csv')
app_categories_df.head()

   appID  appCategory
0     14            2
1     25          203
2     68          104
3     75          402
4     83          203

### 合并 ad.csv 和 app_categories.csv

In [5]:
ad_df = ad_df.merge(app_categories_df, on='appID')
ad_df.head()

   creativeID  adID  camgaignID  advertiserID  appID  appPlatform  appCategory
0        4079  2318         147            80     14            2            2
1        4686   834         107            80     14            2            2
2        5949  3084         566            80     14            2            2
3        4008  1063         365            80     14            2            2
4        6377  3242         375            80     14            2            2

### 加载 user_installedapps

In [6]:
user_installedapps_df = pd.read_csv(path_original_dataset + 'user_installedapps.csv')
user_installedapps_df.head()

   userID  appID
0       1    357
1       1    360
2       1    362
3       1    365
4       1    375

### 提取 app 的热度特征

In [7]:
count_avg_app = user_installedapps_df.groupby('appID').count()
count_avg_app.rename(columns={'userID': 'count'}, inplace=True)
count_avg_app.head()

        count
appID
354     14298
355      7278
356      8180
357    311677
358      4189

In [8]:
count_avg_app['popularity_app'] = \
    pd.cut(count_avg_app['count'], np.logspace(0, 7, num=8), include_lowest=True, labels=False)
count_avg_app.reset_index(inplace=True)
del count_avg_app['count']
count_avg_app.head()

   appID  popularity_app
0    354               4
1    355               3
2    356               3
3    357               5
4    358               3

In [9]:
count_avg_app['popularity_app'].value_counts()

0    144348
1     26199
2      7401
3      1774
4       522
5       127
6        18
Name: popularity_app, dtype: int64

0: [1, 10]             
1: (10, 100]           
2: (100, 1000]         
3: (1000, 10000]       
4: (10000, 100000]     
5: (100000, 1000000]   
6: (1000000, 10000000]

### 合并表格

In [11]:
ad_df = ad_df.merge(count_avg_app, how='left',on='appID')
ad_df.head()

,creativeID,adID,camgaignID,advertiserID,appID,appPlatform,appCategory,popularity_app
0,4079,2318,147,80,14,2,2,NaN
1,4686,834,107,80,14,2,2,NaN
2,5949,3084,566,80,14,2,2,NaN
3,4008,1063,365,80,14,2,2,NaN
4,6377,3242,375,80,14,2,2,NaN

## 提取出部分特征

In [11]:
print(ad_df.columns.tolist())

['creativeID', 'adID', 'camgaignID', 'advertiserID', 'appID', 'appPlatform', 'appCategory', 'popularity_app']

In [14]:
selected_feature = [\
                    'creativeID',\
#                     'adID',\
#                     'camgaignID',\
                    'advertiserID',\
#                     'appID',\
                    'appPlatform',\
                    'appCategory',\
                    'popularity_app'
                   ]

In [15]:
ad_selected = ad_df[selected_feature]
ad_selected.head()

   creativeID  advertiserID  appPlatform  appCategory  popularity_app
0        4565             3            1          209               3
1        5187             3            1          209               3
2        6440             3            1          209               3
3        2553             3            1          209               3
4        2438             3            1          209               3